.color-darker-bg {
    background-color: #21252c;
}

.color-100-black-bg {
    background-color: black;
}

.color-100-white-bg {
    background-color: white;
}

.color-black-bg {
    background-color: #272c33;
}

.color-gray-bg {
    background-color: #abb1bf;
}

.color-white-bg {
    background-color: #d3d3d3;
}

.color-cyan-bg {
    background-color: #51b5c3;
}

.color-blue-bg {
    background-color: #5cadf1;
}

.color-magenta-bg {
    background-color: #c774df;
}

.color-red-bg {
    background-color: #e26a72;
}

.color-green-bg {
    background-color: #96c475;
}

.color-yellow-bg {
    background-color: #d29a61;
}

.color-cyan-fg {
    color: #51b5c3;
}

.color-100-white-fg {
    color: white;
}

.color-black-fg {
    color: #272c33;
}

.color-white-fg {
    color: #d3d3d3;
}

.color-blue-fg {
    color: #5cadf1;
}

.color-magenta-fg {
    color: #c774df;
}

.color-red-fg {
    color: #e26a72;
}

.color-green-fg {
    color: #96c475;
}

.color-darker-fg {
    color: #21252c;
}

.color-yellow-fg {
    color: #d29a61;
}

.color-black-bg-85 {
    background-color: #272c33d8;
}

.color-gray-bg-85 {
    background-color: #727680d8;
}

.color-white-bg-85 {
    background-color: #aaaaaad8;
}

.color-cyan-bg-85 {
    background-color: #3d8a94d8;
}

.color-blue-bg-85 {
    background-color: #3c709bd8;
}

.color-magenta-bg-85 {
    background-color: #8b529bd8;
}

.color-red-bg-85 {
    background-color: #91454ad8;
}

.color-green-bg-85 {
    background-color: #668550d8;
}

.color-yellow-bg-85 {
    background-color: #805d3bd8;
}

.color-cyan-darkest-bg {
    background-color: #153135;
}

.color-blue-darkest-bg {
    background-color: #213846;
}

.color-magenta-darkest-bg {
    background-color: #351a3d;
}

.color-red-darkest-bg {
    background-color: #311718;
}

.color-green-darkest-bg {
    background-color: #1d2b14;
}

.color-yellow-darkest-bg {
    background-color: #352413;
}

.color-85-translucent {
    background-color: #334b5ad8;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: ease-out;
}

body {
    background-color: #030303;
    color: #d3d3d3;
    font-family: 'Helvetica Neue', 'Helvetica', 'Lato', -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Ubuntu',
        'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: #5cadf1;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-top: 60px;
}

header,
article,
footer {
    margin: auto 20vw auto;
    display: block;
}

header {
    padding-left: 1.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header,
    article,
    footer {
        margin: auto 16vw auto;
    }
}
h1,
h2,
h3,
h4 {
    color: #d3d3d3;
    font-weight: 900;
    letter-spacing: -1px;
}

h1 {
    font-size: 3rem;
    margin: 4rem auto 2.5rem;
}
@media screen and (max-width: 768px) {
    header,
    article,
    footer {
        margin: auto 5% auto;
        padding: none;
    }
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.5rem;
    margin: 1.5rem auto 1rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
    font-style: italic;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p,
li {
    line-height: 1.5rem;
}

li {
    padding: 0 0 0.5rem;
}

blockquote p {
    margin: 0;
}

blockquote {
    font-size: 1rem;
    margin: 1rem 0 1rem;
    padding: 1rem 2rem;
    color: #46acdb;
    background-color: #2a3d47;
}

li blockquote {
    font-size: 1rem;
    margin: 0;
    padding: 0.2rem 0.4rem;
    color: #46acdb;
    background-color: #2a3d47;
    border-radius: 4px;
}

ul {
    list-style: square outside
        url('data:image/gif;base64,R0lGODdhBQAKAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAFAAoAAAIIlI+ZwawPUQEAOw==');
}
ul ol {
    list-style: decimal;
}

em,
i {
    color: #46acdb;
}

strong,
b {
    color: #dd54a2;
    font-weight: 700;
}

li.cat-item {
    margin: 0;
}

figure {
    width: 100%;
    margin: 2rem 0 2rem;
}
figure img {
    display: block;
    width: 90%;
    margin: 0 auto 0;
}

mark {
    color: #ebd248;
    background-color: #685d2e;
    border: 3px;
    border-color: #685d2e;
    border-radius: 2px;
}

hr {
    border: 0.8px solid #787d86;
    margin: 2rem 12pt;
}

.gallery {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.gallery .tile-container {
    overflow: hidden;
    flex: 0 1 100%;
    margin: 1.5rem 0;
}
.gallery .media-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery.small-gallery {
    width: 60vw;
}
.gallery.small-gallery .tile-container {
    flex: unset;
    width: 12vw;
    height: 12vw;
    margin: 12px 6px;
    border-radius: 10px;
}
/* .gallery.small-gallery .tile-container:hover {
  border: 2px solid #eedd00;
  margin: 10px 4px;
} */
.gallery.small-gallery .tile-container a {
    width: 100%;
    display: block;
    object-fit: cover;
}
.gallery.small-gallery .tile-container a img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .gallery.small-gallery {
        width: 95vw;
    }
    .gallery.small-gallery .tile-container {
        width: 20vw;
        height: 20vw;
    }
}

li:last-of-type {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

audio {
    width: 80%;
    margin: 1rem auto;
    display: block;
}

video,
iframe {
    width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    table-layout: fixed;
}

td img {
    max-width: 100%;
    height: auto;
}

code {
    font-weight: 700;
    font-family: 'Fira Code', 'Inconsolata', 'Consolas', 'Ubuntu Mono', 'Courier New', monospace;
    letter-spacing: -0.2pt;
}

.noscroll {
    overflow: hidden;
}
